<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>ALTERAR</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron mt-5">
        <h1>ALTERAR VEÍCULO</h1>
        <p>Digite as informações para dar entrada ao veículo.</p>
    </div>
</div>
<form>
    <p>Placa: <input/></p>
    <p>Modelo: <input/></p>
    <button type="submit" class="btn btn-primary">ALTERAR ENTRADA</button>
    <a href="/home" class="btn btn-primary mr-3">VOLTAR</a>
</form>
</body>
</html>
